@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  --main-bg-color: "";
  --icon-color: "";
  --green: "";
  --red: "";
  --white: "";
  --black: "";
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #38444c;
  color: #fff;
  display: flex;
  justify-content: center;
}

#timer-label {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1.5px;
}

#start_stop,
#reset {
  font-size: 24 px;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 12px;
  color: #000;
  letter-spacing: 1.5px;
  outline: none;
}

#time-left {
  font-size: 30px;
  letter-spacing: 1.5px;
}

#session-label,
#break-label {
  font-size: 18px;
  letter-spacing: 1.5px;
}

#session-length,
#break-length {
  font-size: 30px;
  letter-spacing: 1.5px;
}

.sessions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

.sessions p {
  margin-bottom: 2px;
}

.timer__handlers {
  text-align: center;
}

.handler {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.timer {
  margin-top: 30px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
  width: 270px;
}

#session-increment,
#break-increment,
#session-decrement,
#break-decrement {
  font-size: 20px;
  outline: none;
  border: 0;
  border-radius: 3px;
  width: 30px;
  margin: 5px;
}

.center {
  text-align: center;
}

.svg {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.svg-circle-bg {
  fill: none;
}

.svg-circle {
  fill: none;
}

.svg-circle-text {
  font-size: 30px;
  letter-spacing: 1.5px;
  text-anchor: middle;
  fill: #00fa9a;
}

.color-red {
  font-size: 30px;
  letter-spacing: 1.5px;
  text-anchor: middle;
  fill: #cd5c5c;
  margin-top: 10px;
}

.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}

@media only screen and (min-width: 400px) {
  .sessions {
    flex-direction: row;
    justify-content: space-between;
  }
}
